@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Condensed:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@500&display=swap);
.timeline {
    font-family: Montserrat, sans-serif;
    margin: 75px auto;
    position: relative;
    min-height: 100%;
}
.timeline-title {
    margin: 0 auto 40px;
    display: block;
    word-wrap: normal;
    font-size: 8em;
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 4px 3px 0 #000;
}
.timeline-item {
    padding: 15px 50px;
    width: 50%;
    position: relative;
    animation: 0.5s linear forwards movedown;
    opacity: 0;
    z-index: 1;
}
.timeline-item:first-of-type {
    animation-delay: 0s;
}
.timeline-item:nth-of-type(2) {
    animation-delay: 0.5s;
}
.timeline-item:nth-of-type(3) {
    animation-delay: 1s;
}
.timeline-item:nth-of-type(4) {
    animation-delay: 1.5s;
}
.timeline-item:nth-of-type(5) {
    animation-delay: 2.0s;
}
@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.left-item {
    left: 0;
}
.right-item {
    left: 50%;
}
.timeline-item-container {
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #fff;
}
.timeline-name {
    font-family: Roboto, sans-serif;
}
.timeline-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: -25px;
    top: 32px;
}
.left-item-arrow,
.right-item-arrow {
    height: 0;
    width: 0;
    top: 28px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
}
.right-item .timeline-icon {
    left: -25px;
}
.left-item-arrow {
    z-index: 1;
    border-left: 15px solid #fff;
    right: 35px;
}
.right-item-arrow {
    z-index: 1000;
    border-right: 15px solid #fff;
    left: 35px;
}
.timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
    background-color: #fff;
    animation: 2s linear moveline;
}
@keyframes moveline {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .timeline-title {
        margin: 40px auto;
        display: block;
        word-wrap: normal;
        font-size: 3.5em;
        font-family: "Roboto Condensed", sans-serif;
        text-shadow: 4px 3px 0 #000;
    }
    .timeline {
        margin: 50px auto;
        padding: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .timeline-item {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .right-item {
        left: 0;
    }
    .left-item-arrow,
    .right-item-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1000;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        left: 65px;
    }
    .left-item .timeline-icon,
    .right-item .timeline-icon {
        left: 5px;
    }
    .left-item-arrow {
        border-left: 0;
    }
}
