@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@500&display=swap');

.projects{
    display: flex;
    flex-wrap: wrap;
}
.project-item{
    background-color: white;
    width: 270px;
    height: 350px;
    box-shadow: 1px 5px 15px 9px rgba(0, 0, 0, 0.28);
    border-radius: 15px;
}

.project-title{
    margin: 40px auto 50px auto;
    font-family: 'Montserrat', sans-serif;
    display: block;
    word-wrap: normal;
    font-size: 8em;
    font-family: 'Roboto Condensed', sans-serif;
    /* text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; */
    text-shadow: 4px 3px 0 black;
}

.project-image{
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.project-name{
    font-family: 'Roboto', sans-serif;
}

.not-image{
    padding: 1em;
}



/* ========= RESPONSIVE =========  */
@media only screen and (max-width: 768px) {
    .project-title{
        margin: 40px auto;
        font-family: 'Montserrat', sans-serif;
        display: block;
        word-wrap: normal;
        font-size: 3.5em;
        font-family: 'Roboto Condensed', sans-serif;
        text-shadow: 4px 3px 0 black;

    }
}
