body,
html {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* width */
::-webkit-scrollbar {
    width: .1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.app {
    /* background: linear-gradient(135deg, #c3e8dc, #3d1aea, #23d5ab, #ee7752); */
    background-color: #000;
    background-size: 400% 400%;
    animation: 13s infinite gradient;
    min-height: 100vh;
    overflow: auto;
}
@keyframes gradient {
    0%,
    100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
